#appointement .inner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

#appointement .inner header {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    padding: 0 3em 0 0;
    width: 70vw;
}

#appointement .inner header p {
    color: inherit;
}

#appointement .inner .actions {
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    justify-content: center;
    width: 30vw;
}

@media screen and (max-width: 1280px) {

    #appointement .inner {
        display: block;
        text-align: center;
    }

    #appointement .inner header {
        padding: 0 0 0 0;
        width: 100%;
    }

    #appointement .inner .actions {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

}